@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@100;200&family=Dongle:wght@300&family=Fauna+One&display=swap");
* {
    font-family: 'Anybody', cursive;
    font-family: 'Dongle', sans-serif;
    font-family: 'Fauna One', serif;
    box-sizing: border-box;
}

/* MEDIDAS TIPOGRÁFICAS */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}

/* Encabezado, barra de navegación: Logo de la pag */
.navbar-img {
    width: 70%;
}

/* Portada hombre - mujer */
.contenedor-portada {
    background: black;
}

.contmain__titulo {
    color: wheat;
}

/* slider de tarjetas */
.contenedor-productos {
    background-color: black;
}

.contenedor-productos__titulo {
    color: wheat;
}

.tarjeta-titulo{
    color: wheat;

}

/* seccion quienes somos */
#seccion-sobre {
    background-color: black;
}

.sobre-red__titulo {
    color: wheat;
}

/* formulario para mail */
.unirse-red {
    background-color: black;
}

.unirse-red__titulo {
    color: wheat;
}

/* opiniones */
#seccion-opiniones {
    background-color: black;
}

.seccion-opiniones__titulo {
    color: wheat;
}


/* pie de pagina: contacto y config + ayuda */
.contfooter {
    background-color: black;
}

.contfooter a {
    text-decoration: none;
    color: white;
}

.contfooter a:hover {
    color: wheat;
}

.contacto__titulo{
    color: wheat;
}

.cajaContacto {
    font-size: 15px;
}

.contfooter .derechos {
    color: wheat;
}



/* Seccion hombre */

.cards-man {
    background-color: black;
}

.cards-man h5, h4{
    color: wheat;
}


/* Seccion mujer */

.cards-woman {
    background-color: black;
}

/* Seccion nuevo */

.cards-nuevo {
    background-color: black;
}

/* Seccion accesorios */

.cards-accesorios {
    background-color: black;
}