$color-uno: rgb(228, 11, 11);
$color-dos: rgb(195, 14, 14);
$color-tres: rgb(162, 17, 18);
$color-cuatro: rgb(130, 20, 21);
$color-cinco: rgb(97, 22, 24);
$color-seis: rgb(64, 25, 28);
$colortx: white;
$colorbg: black;
$font-family: ('Anybody', 'cursive', 'Dongle', sans-serif, 'Fauna One', serif);

$primary: $color-dos;
$enable-shadows: true;
$enable-gradients: true;
