$color-uno: rgb(255, 186, 8);
$color-dos: rgb(250, 163, 7);
$color-tres: rgb(244, 140, 6);
$color-cuatro: rgb(232, 93, 4);
$color-cinco: rgb(220, 47, 2);
$color-seis: rgb(208, 0, 0);
$colortx: white;
$colorbg: black;
$font-family: ('Anybody', 'cursive', 'Dongle', sans-serif, 'Fauna One', serif);

$primary: $color-dos;
$enable-shadows: true;
$enable-gradients: true;
